* {
    border: none;
    border-radius: 0;
    font-family: "JetBrains Mono Nerd Font";
    font-size: 25px;
    min-height: 0;
    padding: 0 5px;
}

window#waybar {
    background: #2E3440;
    border: 2px solid #5E81AC;
    border-radius: 10px;
}

#workspaces button {
    padding: 0 5px;
    margin: 5 0px;
    background: transparent;
    color: #5E81AC
}

#workspaces button.active {
  background-color: #2E3440;
  color: #BF616A;
  
}

#workspaces button.focused {
    background: #0F131C;
}

#workspaces button.urgent {
    background-color: #0F131C;
}

#clock, #cpu, #memory, #pulseaudio, #tray, #network {
    padding: 0 15px;
    margin: 5 0px;
    background-color: transparent;
    color: #5E81AC;
}

#cpu.critical {
    color: #BF616A;
}

#memory.critical {
    color: #BF616A;
}

#pulseaudio.muted {
    color: #BF616A;
}

#network.disconnected {
    color: #BF616A;
}
