* {
    border: none;
    border-radius: 0;
    font-family: "JetBrains Mono Nerd Font";
    font-size: 25px;
    min-height: 0;
    padding: 0 5px;
}

window#waybar {
    background: #2E3440;
}

#workspaces button {
    padding: 0 5px;
    margin: 5 0px;
    background: transparent;
    color: #81a1c1
}

#workspaces button.active {
  background-color: #2E3440;
  color: #BF616A;
}

#workspaces button.focused {
    background: #0F131C;
}

#workspaces button.urgent {
    background-color: #0F131C;
}

#clock, #cpu, #memory, #pulseaudio, #tray, #network, #language {
    padding: 0 15px;
    margin: 5 0px;
    background-color: transparent;
}

#clock {
    color: #8fbcbb;
}

#cpu.critical {
    color: #BF616A;
}

#cpu {
    color: #ebcb8b;
}

#memory.critical {
    color: #BF616A;
}

#memory {
    color: #a3be8c;
}

#pulseaudio.muted {
    color: #BF616A;
}

#pulseaudio {
    color: #d08770;
}

#network {
    color: #81a1c1;
}

#network.disconnected {
    color: #BF616A;
}

#network.disabled {
    color: #BF616A;
}

#language {
    color: #b48ead;
}



