* {
    border: none;
    border-radius: 0;
    font-family: "JetBrains Mono Nerd Font";
    font-size: 22px;
    min-height: 0;
    margin: 0 5px;
}

window#waybar {
    background: #0F131C;
}

#workspaces button {
    padding: 0 5px;
    margin: 5 0px;
    background: #0F131C;
    color: #cdd6f4;
}

#workspaces button.active {
  background-color: #0F131C;
  color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background: #0F131C;
}

#workspaces button.urgent {
    background-color: #0F131C;
}

#clock, #battery, #cpu, #memory, #temperature, #network, #pulseaudio, #tray {
    padding: 0 15px;
    margin: 5 0px;
}

#clock {
    background-color: #0F131C;
}

#cpu {
    background-color: #0F131C;
}

#memory {
    background-color: #0F131C;
}

#pulseaudio {
    background-color: #0F131C;
}

#pulseaudio.muted {
    background-color: #0F131C;
    color: white;
}
